[submodule "libs/react-three-renderer"]
	path = libs/react-three-renderer
	url = https://github.com/bacti/react-three-renderer.git
[submodule "libs/jasmine"]
	path = libs/jasmine
	url = https://github.com/bacti/jasmine.git
[submodule "libs/cardboard-vr-display"]
	path = libs/cardboard-vr-display
	url = https://github.com/bacti/cardboard-vr-display.git
