[submodule "libs/react-three-renderer"]
	path = libs/react-three-renderer
	url = https://github.com/bacti/react-three-renderer.git
[submodule "libs/webvr-polyfill"]
	path = libs/webvr-polyfill
	url = https://github.com/bacti/webvr-polyfill.git
